<div id="home">
{{#partial "content"}}
<div class="home">
<div class="container-fluid">
    <div class="container">
            <h1>PIPO <strong>S</strong> SHOP</h1>
            <h2>Is an online shop, that sells second hand products including clothes and Phone in Rwanda.<br>
                Shop with us both clothes,Phone and shoes.</h2>
            <button id="shop-btn"><span style="font-size: larger;font-weight: 600;">Shop now</span></button><br><br>
            <a href="/admin">
                <button class="button"><span style="font-size: larger;font-weight: 600;">Admin</span></button>
            </a>
            <a href="/clothes">
                <button class="button"><span style="font-size: larger;font-weight: 600;">Clothes</span></button>
            </a>
        <a href="/phones">
            <button class="button"><span style="font-size: larger;font-weight: 600;">Phone</span></button>
        </a>
        </div>
    </div>
</div>
    </div>
{{/partial}}
{{> layout.hbs}}