<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Organisational News Portal{{/block}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet"href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar " style="padding-bottom: 0px;">
    <nav>
        <ul class="nav" style="padding-top: 0px">
            <li><a class="nav-link" href="/">News</a></li>
            <li><a class="nav-link" href="/allDepts">Departments</a></li>
            <li><a class="nav-link" href=/allUsers>Users</a></li>
        </ul>
    </nav>
</div>
<div class="container">

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}
    </div>
</div>

{{#block "footer"}}
    </body>
    </html>
{{/block}}