{{#partial "content"}}

    <form action="/dept/new" method="post" id="colors">
        <h3>Order your Products!!!</h3>
        <div class="form-group">
            <label for="name">Customer Name:</label><br>
            <input class="form-control" id="name" name="name" type="text"><br>
        </div>
        <div class="form-group">
            <label for="location"> Location:</label><br>
            <textarea class="form-control" id="location" name="location" type="text" rows="3"></textarea><br>
        </div>
        <div class="form-group">
            <label for="number">Phone number:</label><br>
            <input class="form-control" id="number" name="number" type="number"><br>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">order</button>
        </div>
    </form>
{{/partial}}
<style>
    #colors{background-color:grey;
        justify-content:center;
        padding:20px;
        color:white;
        margin-left:5px;
        margin-right:200px;
        font-size:15px;
        margin-top:60px;}
</style>
{{> layout.hbs}}