{{#partial "content"}}
    <section class="container content-section women">
        <h2 class="section-header" >SHOP YOUR FAVORITE SHOES ON AFFORDABLE PRICE</h2>
        <div class="shop-items">

            <div class="shop-item">
                <span class="shop-item-title">Heels</span>
                <img class="shop-item-image" src="imgs/shoes/shoes6.jpg">
                <p class="shop-item-price">RWF20000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a  href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Heels</span>
                <img class="shop-item-image" src="imgs/shoes/shoes7.jpg">
                <p class="shop-item-price">RWF20000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Heels</span>
                <img class="shop-item-image" src="imgs/shoes/shoes8.jpg">
                <p class="shop-item-price">RWF20000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Sandals</span>
                <img class="shop-item-image" src="imgs/shoes/shoes12.jpg">
                <p class="shop-item-price">RWF20000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Sandals</span>
                <img class="shop-item-image" src="imgs/shoes/shoes13.jpg">
                <p class="shop-item-price">RWF20000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title"> Sandals</span>
                <img class="shop-item-image" src="imgs/shoes/shoes14.jpg">
                <p class="shop-item-price">RWF20000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Closed Toe Sandals</span>
                <img class="shop-item-image" src="imgs/shoes/shoes15.jpg">
                <p class="shop-item-price">RWF15000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Closed Toe Sandals</span>
                <img class="shop-item-image" src="imgs/shoes/shoes16.jpg">
                <p class="shop-item-price">RWF15000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Closed Toe Sandals</span>
                <img class="shop-item-image" src="imgs/shoes/shoes17.jpg">
                <p class="shop-item-price">RWF15000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Sneakers</span>
                <img class="shop-item-image" src="imgs/shoes/shoes18.jpg">
                <p class="shop-item-price">RWF18000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Sneakers</span>
                <img class="shop-item-image" src="imgs/shoes/shoes19.jpg">
                <p class="shop-item-price">RWF18000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Sneakers</span>
                <img class="shop-item-image" src="imgs/shoes/shoes20.jpg">
                <p class="shop-item-price">RWF18000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>

        </div>
        <div class="shop-items">
            <div class="shop-item">
                <span class="shop-item-title">Air force 1</span>
                <img class="shop-item-image" src="imgs/shoes/shoes2.jpg">
                <p class="shop-item-price">RWF 25000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Yeezy</span>
                <img class="shop-item-image" src="imgs/shoes/shoes3.jpg">
                <p class="shop-item-price">RWF 25000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Vans</span>
                <img class="shop-item-image" src="imgs/shoes/shoes4.jpg">
                <p class="shop-item-price">RWF25000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Classic</span>
                <img class="shop-item-image" src="imgs/shoes/shoes21.jpg">
                <p class="shop-item-price">RWF40000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Classic</span>
                <img class="shop-item-image" src="imgs/shoes/shoes22.jpg">
                <p class="shop-item-price">RWF40000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Classic</span>
                <img class="shop-item-image" src="imgs/shoes/shoes23.jpg">
                <p class="shop-item-price">RWF40000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Adidas</span>
                <img class="shop-item-image" src="imgs/shoes/shoes24.jpg">
                <p class="shop-item-price">RWF30000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Adidas</span>
                <img class="shop-item-image" src="imgs/shoes/shoes25.jpg">
                <p class="shop-item-price">RWF30000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Adidas</span>
                <img class="shop-item-image" src="imgs/shoes/shoes26.jpg">
                <p class="shop-item-price">RWF30000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Sandals</span>
                <img class="shop-item-image" src="imgs/shoes/shoes27.jpg">
                <p class="shop-item-price">RWF12000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Sandals</span>
                <img class="shop-item-image" src="imgs/shoes/shoes28.jpg">
                <p class="shop-item-price">RWF12000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Sandals</span>
                <img class="shop-item-image" src="imgs/shoes/shoes29.jpg">
                <p class="shop-item-price">RWF12000</p>
                <div class="shop-item-details">

                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <a href="#content-section"><button class="btn btn-primary shop-item-button">VIEW CART</button></a>
                </div>
            </div>
        </div>
    </section>
    <section class="container content-section" id="content-section">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">0</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        <a href="checkout.html"><button class="btn btn-primary btn-checkout" type="button">CONTINUE TO CHECKOUT</button></a>
    </section>
{{/partial}}
<style>
    * {
  box-sizing: border-box;
  color: rgb(160, 158, 158);
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;

}
h1{
  font-family: 'Chilanka', cursive;
  padding-top: 60px;
}
h1 strong{
  color: yellow;
}
.nav ul {
  margin: 5px;
}

.nav li {
  display: list-item;
}

.nav a {
  display: inline-block;
  padding: .9em;
  color: white;
  text-decoration: none;
}

.main-nav {
  font-family: 'Chilanka', cursive;
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, .3)
}

.main-header {
  background-image: url("/css/Images/Nike-Adapt-BB.jpeg");
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}


.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;

  font-weight: normal;
  color: white;
}

.band-name-large {
  font-size: 8em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: rgb(126, 78, 78);
  text-align: center;
  font-size: 2.5em;
  margin-top:60px;
  background-size:cover;

}






.btn {
  text-align: center;

  padding: .67em .67em;
  cursor: pointer;
}







.btn-primary {
  color: white;
  background-color: #56CCF2;
  border: none;
  border-radius: .3em;
  font-weight: bold;
  margin: 10px;
}

.btn-primary:hover {
  background-color: #34454e;
}

.women{
  background-color:lightgrey;

}
.shop-item {
  margin: 20px;
}
#hike1{display: none;
  position: absolute;
  top: 110%;
  color:  #0074B7;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.6;
  margin-left:200px;
  justify-content: center;
  align-items: center;
  text-align: center;

  }
.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 5px;
}

.shop-item-image {
  height: 150px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 15px;
}

.shop-item-price {
  text-align: center;
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color:lightgrey;
}

.cart-header {
  font-weight: bolder;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 20px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #7a4040;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #494558;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid rgb(7, 7, 7);
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 20px;
  margin-right: 40px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 2.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.35em;
}
#content-section{ background-color: lightgrey;
border-radius:50px;}

</style>
{{> layout.hbs}}